.game{
    -fx-background-size: 100 200;
}
.game-mini{
    -fx-background-size: 100 100;
}
.tower-game{
    -fx-background-size: 200 500;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 500px;
    -fx-max-height: 500px;
}

.human-tank-dead{
    -fx-background-image: url("../images/soldierTankDead.png");
}
.human-sniper-dead{
     -fx-background-image: url("../images/soldierSniperDead.png");
}
.human-engineer-dead{
      -fx-background-image: url("../images/soldierEngineerDead.png");
}
.tower-dead{
      -fx-background-image: url("../images/tower-dead.png");
}

.barrel-game{
    -fx-background-size: 100 100;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
}

.damageNumberHeal{
    -fx-text-fill: green;
    -fx-font-size: 30px;
}

.damageNumberExtra{
    -fx-text-fill: red;
    -fx-font-size: 50px;
}

.healthBar{
    -fx-background-color: grey;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
}