.centered{
    -fx-alignment: center;
    -fx-padding: 50px;
}
.header{
    -fx-font-size: 100px;
}

.timer{
    -fx-margin: 50px;
    -fx-font-size: 30px;
}

.startButton{
    -fx-max-width: 300px;
    -fx-min-width: 300px;
    -fx-font-size: 30px;
}

.human-tank{
    -fx-color: green;
    -fx-background-color: green;
}
.human-sniper{
    -fx-color: yellow;
    -fx-background-color: yellow;
}
.human-engineer{
    -fx-color: blue;
    -fx-background-color: blue;
}

.comboBoxContainer{
    -fx-max-width: 180px;
    -fx-margin: 5px;
}

.labelText{
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-family: monospace;
}
.labelTextDark{
    -fx-text-fill: black;
    -fx-padding: 10px;
    -fx-font-family: monospace;
}
Label{
    -fx-font-family: monospace;
    -fx-font-size: 20px;
}
.fontFamily{
    -fx-font-family: monospace;
}